.list-item{
  &::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f45b69;
    transform: translateX(-50%);
  }
}