$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}