@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .home{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
} */